extends ../layout/front

block content
    link(rel="stylesheet" type="text/css" href="plugins/webuploader/webuploader.css")
    link(rel="stylesheet" type="text/css" href="css/front/upload.css")

    #uploader.wu-example
        .dndArea
            .file-select
                #picker 选择文件
                p 或将文件拖到这里
        // 用来存放文件信息
        #thelist.uploader-list
        button#ctlBtn.btn.btn-default 开始上传

    script(src="js/require-2.1.11.min.js" defer async="true" data-main="js/front/upload.js")